@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background: linear-gradient(146deg, rgba(9, 9, 121, 1) 0%, rgba(1, 0, 11, 1) 35%, rgba(17, 16, 22, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Utilitie Classes */
.bg-left {
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(1,0,11,1) 35%, rgba(17,16,22,1) 100%);
}
.basic-font {
    font-family: "Inter";
    color: white;
}
.page-width {
    max-width: 1280px;
    margin: auto;
    padding: 0 10px;
}
.quadcoX-logo {
    width: 200px;
    height: auto;
}
.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background: #001AFF;
    box-shadow: 0px 0px 16.9px 8px #0500FF40;
    border-radius: 6px;
    margin: auto;
    padding: 5px 10px;
    border: 0;
}
.submit-btn {
  background: white;
  color: #001aff;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: 0px 0px 16.9px 8px #0500FF40;
    border-radius: 6px;
    margin: auto;
    padding: 5px 3rem;
    border: 0;
}
.btn-link {
    color: white;
    font-family: "Inter";
    text-decoration: none;
}
.btn-center {
    text-align: center;
}
.basic-img {
    width: 100%;
    height: auto;
}
/* ! Utilitie Classes Ends */

/* ! Navbar */
.nav-bar-inner {
    padding-bottom: 40px;
}
.nav-wrapper {
    list-style: none;
}
.nav-wrapper a {
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Inter';
}
.nav-link {
    margin-right: 10px ;
}
.m-only {
    display: none;
}
.m-nav-open {
    display: flex;
}
.m-nav-close {
    display: none;
}
@media screen and (max-width: 768px) {
    .d-only {
        display: none;
    }
    .quadcoX-logo {
        width: 130px;
        height: auto;
    }
    .m-only {
        display: block;
    }
    .mobile-nav img {
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
    .sidebar {
        -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .mobile-sidebar {
        background: linear-gradient(144.39deg,#ffffff -278.56%,#6d6d6d -78.47%,#11101d 91.61%);
        position: absolute;
        right: 10px;
        top: 60px;
        border-radius: 20px;
    }
    .mobile-sidebar .nav-wrapper {
        flex-direction: column;
        padding: 10px 25px;
    }
    .m-nav-link {
        margin-bottom: 10px;
    }
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /* ! Navbar Ends */

  /* ! Hero section */

  .hero-heading {
    font-size: 32px;
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero-subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: auto;
    width: 60%;
    margin-bottom: 15px;
  }
  .hero-btn {
    margin-bottom: 15px;
  }
  .hero-banner-holder {
    border-radius: 10px;
    overflow: hidden;
  }
  .content-heading, .our-services-heading, .our-process-heading, .choose-us-heading {
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .content-subheading {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 55px;
  }
  .hero-website, .our-services-holder, .our-process-card-holder, .choose-us-card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hero-card {
    text-align: center;
    padding: 0 15px;
  }
  .hero-card-heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
  }
  .hero-card-subheading {
    font-size: 16px;
    line-height: 20px;
    color: #969696;
    font-weight: 400;
  }
  .our-services, .our-process-heading, .choose-us-heading {
    padding-top: 50px;
  }
  .our-services-heading, .our-process-heading, .choose-us-heading {
    margin-bottom: 40px;
  }
  .our-process-holder .hero-card {
    border: 2px solid #000AFF
  }
  .our-process-card-holder {
    gap: 20px;
  }
  @media screen and (max-width: 1150px) {
    .hero-website, .our-services-holder, .our-process-card-holder, .choose-us-card-holder  {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
  }
  @media screen and (max-width: 768px) {
    .hero-heading {
        font-size: 20px;
        width: 90%;
        line-height: 24px;
    }
    .hero-subheading {
        font-size: 14px;
        width: 90%;
        line-height: 18px;
    }
    .hero-website, .our-services-holder, .our-process-card-holder, .choose-us-card-holder {
        display: grid;
        grid-template-columns: 1fr;
    }
    .content-heading, .our-services-heading, .our-process-heading, .choose-us-heading {
        font-size: 22px;
        line-height: 24px;
    }
    .hero-card-heading {
        font-size: 17px;
        line-height: 21px;
    }
    .content-subheading, .hero-card-subheading {
        font-size: 14px;
        line-height: 18px;
    }
  }
  /* !d Hero section Ends */
  /* !====================================================================================================================================== */

  .portfolio-page-heading {
    padding-left: 120px;
    text-transform: uppercase;
    font-size: 70px;
  }
  .work-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 80px;
    margin-bottom: 30px;
  }
  .portfolio-parent .heading {
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .work-card {
    border: 1px solid #FFFFFF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .work-card p {
    font-family: "Inter";
    color: white;
    font-size: 18px;
    line-height: 1;
    padding-top: 0;
    margin-bottom: 0;
  }

  @media screen and (max-width: 989px) {
    .work-card img {
      width: 100%;
      height: auto;
    }
    .work-parent {
      grid-template-columns: 1fr;
    }
    .portfolio-page-heading {
      padding-left: 30px;
      text-transform: uppercase;
      font-size: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    .portfolio-page-heading {
      padding-left: 0px;
      text-transform: uppercase;
      font-size: 25px;
  }
  .portfolio-parent .heading {
    font-size: 18px;
    line-height: 22px;
  }
  .work-card p {
    font-size: 15px;
    line-height: 19px;
  }
  }

  .contact-form-wrapper {
    background: linear-gradient(170.35deg, #A5AEFF 0%, #000B72 93.96%);
    width: 40%;
    flex: 0 0 auto;
    padding: 60px 0px;
    box-shadow: 0px 0px 100px 8px #FFFFFF33;
  }
  .form-heading {
    font-size: 56px;
    line-height: 60px;
    color: black;
  }
  .form-heading span {
    color: white;
  }
  .form-description {
    color: white;
    font-size: 18px;
    line-height: 22px;
    width: 75%;
    margin-bottom: 50px;
  }
  .contact-form-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    gap: 5%;
  }
  .contact-form-information {
    flex: 0 0 auto;
    width: 45%;
  }
  .hidden {
    display: none;
  }
  .contact-form-wrapper input, .contact-form-wrapper textarea  {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: "Inter";
  }
  .contact-form-wrapper input::placeholder, .contact-form-wrapper textarea::placeholder {
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter";
  }
  .contact-form-wrapper input:focus-visible, .contact-form-wrapper textarea:focus-visible {
    outline: none;
  }
  .contact-form-inner {
    width: 80%;
    margin: auto;
  }
  .form-field {
    margin-bottom: 20px;
  }
  .contact-info-h {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.contact-info-h p {
  font-size: 26px;
  font-weight: 600;
}
.contact-t {
  font-size: 15px;
  padding-left: 60px;
  width: 90%;
}
.contct-e {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding-left: 60px;
} 

@media screen and (max-width: 989px) {
  .form-heading {
    font-size: 40px;
    line-height: 44px;
  }
  .form-description {
    width: 100%;
  }
  .contact-info-h p {
    font-size: 22px;
    line-height: 26px;
  }
  .contact-info-h img {
    width: 35px;
  }
}

@media screen and (max-width: 768px) {
  .contact-form-parent {
    flex-direction: column;
  }
  .contact-form-wrapper, .contact-form-information {
    width: 100%;
  }
  .contact-t, .contct-e {
    padding-left: 0;
    width: 100%;
  } 
  .contact-form-information {
    margin-bottom: 50px;
  }
}
